body {
    max-width: 1200px;
    margin: auto;
    background-color: rgb(173, 216, 173);
}

#icon {
    position: absolute;
    margin: 20px 0px -30px 30px;
    max-width: 150px;
    border: 7px solid #912a2d;
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

#sage {
    max-width: 1200px;
    margin-top: -50px;
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

h1 {
    font-family: "Neucha", Arial, Helvetica, sans-serif;
    font-size: 70px;
    float: right;
    margin-right: 30px;
    color: #912a2d;
    font-variant: small-caps;
    text-shadow: rgb(227, 241, 252) 3px 3px 5px;
}

h2 {
    font-family: "Neucha", Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    color: #912a2d;
    text-shadow: rgb(227, 241, 252) 3px 3px 5px;
}

h1 span,
h2 span {
    font-size: 40px;
    font-variant: none;
}

h3 {
    font-family: "Neucha", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #912a2d;
    text-shadow: rgb(227, 241, 252) 3px 3px 5px;
}

.regular {
    float: none;
    margin: auto;
    text-align: center;
}

nav ul li a {
    display: inline-flex;
    padding: 19px 50px;
    font-family: "Poppins";
    margin-left: 30px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#navbox {
    margin-top: -15px;
    background-color: #935153;
    height: 60px;
    width: 1200px;
}

a:link,
a:visited {
    font-family: "Poppins", Helvetica, sans-serif;
}

a:hover,
a:active {
    color: #F7b605;
    background-color: #599dda;
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}
.active{
    background-color: #912a2d;
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: justify;
}
#jessica{
    margin-bottom: 30px;
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}
#logo, #color, #brad{
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}
hr{
    background-color:#912a2d;
    height: 5px;
}
p {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}
#brownbox {
    background-color: #935153;
    height: 35px;
    width: 1200px;
}

footer {
    background-color: #599dda;
    height: 60px;
    width: 1200px;
    padding: 10px 0px 20px 0px;
}

footer p {
    text-align: center;
    margin-top: 5px;
}

.white {
    color: black;
}
#logo {
    width: 250px;
}


/*This is the code for a medium sized screen *********************************************************
*******************************************************************************************************/
@media screen and (max-width: 1180px){
    body {
        max-width: 1000px;
    }
    
    #icon {
        position: fixed;
        margin: 20px 0px -5px 20px;
        max-width: 100px;
        border: 5px solid #912a2d;
    
    }
    
    #sage {
        max-width: 1000px;
    }
    
    h1 {
        font-size: 50px;
        margin-right: 20px;
        margin-bottom: 50px
    }
    
    h2 {
        font-size: 40px;
    }
    
    h1 span,
    h2 span {
        font-size: 30px;
        font-variant: none;
    }
    
    h3 {
        font-size: 20px;
    }
  
    nav ul li a {
        padding: 19px 30px 22px 30px;
        margin-left: 22px;
        font-size: 18px;
    }

    #navbox {
        width: 1000px;
    }
    
    #jessica{
        margin-bottom: 30px;
    }
    #brownbox {
        width: 1000px;
    }
    
    footer {
        width: 1000px;
    }
}


/*This is the code for a small sized screen *********************************************************
*******************************************************************************************************/
@media screen and (max-width: 860px){
    body {
        max-width: 500px;
    }
    main{
        max-width: 500px;
    }
    #icon{
        position: absolute;
    }
    
    h1 {
        font-size: 35px;
        margin: 130px 20px 0px 20px;
        text-align: center;
    }
    h2 {
        font-size: 28px;
        margin-top: 200px;
    }
    h1 span,
    h2 span {
        font-size: 18px;
    }
    #sage {
        max-width: 100%;
        margin-top: 15px;
    }
    h3 {
        font-size: 18px;
    }
    #h1type{
        margin-top: 170px;
    }
    
    nav ul li a {
        max-width: 500px;
        padding: 20px 50px;
        margin-left: -50px;
       
    }
    nav ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 200px;
        max-width: 100%;
        background-color: #935153;
        text-align: center;
        
    }
    .center {
        text-align: left;
        width: 340px;  
    }
    p{
        max-width: 340px;
    }
    #siteplan{
        display: none;
    }
    #jessica{
        max-width: 100%;
        margin-bottom: 20px;
    }
    #brownbox {
        height: 25px;
        width: auto;
    }
    #navbox{
        width:auto;
    }
    footer {
        height: auto;
        width: auto;
        padding: 11px 50px;
    }
}
