body {
    max-width: 1200px;
    margin: auto;
    background-color: darkseagreen;
}

#icon {
    position: absolute;
    margin: 20px 0px -30px 30px;
    max-width: 150px;
    border: 7px solid #935153;

}

#sage {
    max-width: 1200px;
    margin-top: -50px;
}

h1 {
    font-family: "Neucha", Arial, Helvetica, sans-serif;
    font-size: 70px;
    float: right;
    margin-right: 30px;
    color: #935153;
    text-shadow: #599dda 3px 3px 5px;
    font-variant: small-caps;
}

h2 {
    font-family: "Neucha", Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    color: #935150;
    text-shadow: #599dda 3px 3px 5px;
}

h1 span,
h2 span {
    font-size: 40px;
    font-variant: none;
}

h3 {
    font-family: "Neucha", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #935150;
    text-shadow: #599dda 3px 3px 5px;
}

.regular {
    float: none;
    margin: auto;
    text-align: center;
}

nav ul li a {
    display: inline-flex;
    padding: 19px 50px;
    font-family: "Poppins";
    margin-left: 18px;
    color: darkseagreen;
    font-size: 20px;
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#navbox {
    margin-top: -15px;
    background-color: #935153;
    height: 60px;
    width: 1200px;
}

a:link,
a:visited {
    font-family: "Poppins", Helvetica, sans-serif;
}

a:hover,
a:active {
    color: #f7bf05;
    background-color: #599dda;
}

.active {
    color: #f7d605;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: justify;
}
#jessica{
    margin-bottom: 30px;
}

p {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}
#brownbox {
    background-color: #935153;
    height: 35px;
    width: 1200px;
}

footer {
    color: white;
    background-color: #599dda;
    height: 60px;
    width: 1200px;
    padding: 10px 0px 20px 0px;
}

footer p {
    color: white;
    text-align: center;
}

.white {
    color: rgb(250, 234, 190);
}
#logo {
    width: 250px;
}


/*This is the code for a medium sized screen *********************************************************
*******************************************************************************************************/
@media screen and (max-width: 1180px){
    body {
        max-width: 1000px;
        background-color: pink;
    }
    
    #icon {
        margin: 20px 0px -5px 20px;
        max-width: 100px;
        border: 5px solid #935153;
    
    }
    
    #sage {
        max-width: 1000px;
    }
    
    h1 {
        font-size: 50px;
        margin-right: 20px;
        margin-bottom: 50px
    }
    
    h2 {
        font-size: 40px;
    }
    
    h1 span,
    h2 span {
        font-size: 30px;
        font-variant: none;
    }
    
    h3 {
        font-size: 20px;
    }
    
    nav ul li a {
        display: inline-flex;
        padding: 19px 30px 22px 30px;
        font-family: "Poppins";
        margin-left: 22px;
        color: darkseagreen;
        font-size: 16px;
        text-decoration: none;
    }

    #navbox {
        width: 1000px;
    }
    
    #jessica{
        margin-bottom: 30px;
    }
    
    p {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 18px;
        text-align: center;
    }
    #brownbox {
        height: 35px;
        width: 1000px;
    }
    
    footer {
        height: 60px;
        width: 1000px;
        padding: 10px 0px 20px 0px;
    }
}