.mink-mingle{
    background: url(/lesson12/images/mink-mingle-unsplash.jpg);
    /*Image by Mink Mingle from Unsplash
    alt="background image is beach with waves"*/
   
}

#gold-circle{
    background-color: gold;
    width: 150px;
    height: 150px;
    display: block;
    position: relative;
    margin: 10px auto -50px auto;
    border-radius: 150px;
}

#jetski{
    display: block;
    position: absolute;
    margin-top: 20px;
}

#beige{
    background-color: blanchedalmond;
    max-width: 550px;
    margin: 60px auto;
    padding: 20px 50px;
    border-radius: 20px;
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-size: 16.5px;
    line-height: 1.5em;
    text-align: left;
    
}

h1{ 
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 75px;
    text-align: center;
    color: blanchedalmond;
    text-shadow:black 0 0 1px, black 0 0 2px, black 0 0 3px, black 0 0 4px, black 0 0 5px;
}
h2{
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 45px;
    text-align: center;
}

nav {
    margin: 0 auto;
    background-color: blanchedalmond;
    margin-top: -21px;
}

.navigation {
    list-style: none;
    padding: 0;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.navigation li:first-child {
    display: block;
    height: 45px;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin-top: -10px;
}

#menU {
    margin-top: 2px;
    margin-left: 17px;

}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    font-weight: lighter;
    color: black;
    letter-spacing: .1em;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.active {
    background-color: rgb(3, 216, 216);
}

.ham a {
    text-align: left;
}
main {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: -5px 0 -10px 0;
}
.responsive li {
    display: block;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
footer{
    margin-top: -180px;
}
footer p{
    text-align: center;
    font-family: 'Poppins';
    font-size: 20px;
    margin-top: -80px;
    color: rgb(250, 243, 233);
}
