body {
    background-color: azure;
    margin-left: 40px;
}
    header {
    background-color: darkcyan;
    border-radius: 15px;
    max-width: 95%;
    display: grid;
    border: ridge bisque 15px;
    margin-right: 45px;
}
  h1 {
    color: white;
    text-align: center;
    font-family: "Neucha", Helvetica, sans-serif;
    font-size: 50px;
    line-height: 60px;
}
h2 {
    font-family: "Neucha", Helvetica, sans-serif;
    font-size: 40px;
    color: hotpink;
    text-align: center;
}
h3 {
    font-family: "Neucha", Helvetica, sans-serif;
    font-size: 25px;
    color: teal;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 20px;
  }
  .grid-item {
    max-width: 400px;
    padding: 10px;
    background-color: beige;
    border-radius: 20px;
  }
  img {
      max-width: 400px;
  }



  @media screen and (max-width: 1280px) {
    header{
        background-color: hotpink;
        margin-right: 25px;
    }
    body {
        margin-left: 20px;
    }
    .grid-container{
        margin-right: 60px;
    }
}

@media screen and (max-width: 800px) {
    header{
        background-color: teal;
    }
        h1 {
            font-size: 40px;
        }
        .grid-container{
            margin-left: 60px;
        }
}
