body {
    background-color: azure;
    margin-left: 40px;
}
    header {
    background-color: darkcyan;
    border-radius: 15px;
    max-width: 95%;
    display: grid;
    border: ridge bisque 15px;
    margin-right: 45px;
}
  h1 {
    color: white;
    text-align: center;
    font-family: "Neucha", Helvetica, sans-serif;
    font-size: 50px;
    line-height: 50px;
}
h2 {
    font-family: "Neucha", Helvetica, sans-serif;
    font-size: 40px;
    color: hotpink;
    text-align: center;
}
 #name{
    margin-top: -15px;
}
h3 {
    font-family: "Neucha", Helvetica, sans-serif;
    font-size: 25px;
    color: darkcyan;
    text-align: center;
    margin-top: -20px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  .grid-item {
    max-width: 400px;
    padding: 10px;
    background-color: beige;
    border-radius: 20px;
  }
  .chalk {
      max-width: 100px;
  }
  #amazon {
      max-width: 400px;
  }
   a:hover{
      color: aqua;
   }
  p {
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px 50px;
      text-align: justify;
  }



  @media screen and (max-width: 960px) {
    header{
        background-color: hotpink;
        margin-right: 25px;
    }
    body {
        margin-left: 20px;
    }
    .grid-container{
        margin-right: 60px;
    }
}

@media screen and (max-width: 600px) {
    header{
        background-color: darkcyan;
    }
        .grid-container{
            margin-left: 60px;
        }
}
