@media screen and (min-width: 1050px) {
body{
    max-width: 1200px;
}
p.link {
    margin-top: 0px;
    margin-left: 480px;
    text-align: center;
}

svg.block2{
    margin-left: 500px;
}

svg.cover2{
    margin-left: -12px;
}
div.explanation{
    margin-left: 535px;
}

svg.block4{
    margin-left: 140px;
}

div.benefits{
    margin-left: 565px;
}

#cover4{
    margin-left: 502px;
}

svg.block5{
    margin-left: 480px;
}

div.requirements{
    margin-left: 560px;
}

svg.cover5{
    margin-left: 553px;
}


aside.sidebar {
    margin-top: -882px;
}

svg.cover6{
    border-radius: 15px;
}

}