/*BRICK COLORS GREYS*/
.brickcolor1 {
    fill: grey;
  }
  
  .brickcolor2 {
    fill: #717171;
  }
  
  .brickcolor3 {
    fill: #808080;
  }
  
  .brickcolor4 {
    fill: dimgrey;
  }
  
  .back {
    fill: lightgrey;
  }
  
  body {
    display: flex;
  }
  
  img {
    position: absolute;
    width: 271px;
    margin: 0px auto auto 5px;
  }