.benefits {
	width: $MobileWidth;
	height: 600px;
	background-image: url(./svg/block4.svg);
	background-repeat: no-repeat;
	margin: auto auto 0px 15px;
}

.benefits p {
	font-family: $Font-p;
	font-size: 16.5px;
	text-align: center;
	width: 250px;
	display: block;
	margin: auto;
	padding-right: 10px;
}

.benefits h3 {
	font-family: $Font-H;
	font-size: 30px;
	line-height: 1em;
	padding-top: 75px;
	padding-bottom: 20px;
}

.extra4 {
	content: url(./images/cover4fish.png);
	margin: -575px auto auto -8px;

}

.benefits::after {
	position:absolute;
	content: url(./svg/bridge4.svg);
	z-index: -1;
	margin-top: -300px;
  }
  
  .benefits:hover::after{
	transform: translate(0px, 279px);
	transition: transform 1s ease-in-out;
	z-index: 3;
}