.participation {
	display: block;
	width: $MobileWidth;
	height: 600px;
	background-repeat: no-repeat;
	background-image: url(./svg/block3.svg);
	margin: 0 auto 200px 10px;
}

.participation::after{
	position:absolute;
	content: url(./svg/bridge3.svg);
	margin-top: -380px;
	margin-left: 2px;
	z-index: -1;
}

.participation:hover::after {
	transform: translate(0px, 365px);
	transition: transform 2s ease-in-out;
	z-index: 2;
}

.participation h3 {
	color: $FontLight;
	font-size: 26px;
	line-height: 1.2em;
	font-family: $Font-H;
	padding-top: 45px;
}

.participation p {
	font-size: 16px;
	color: $FontLight;
	font-family: $Font-p;
	text-align: justify;
	width: 260px;
	display: block;
	margin: 12px auto auto auto;
}

.participation a{
	color: orange;
	text-decoration: none;
}

.extra3 {
	content: url(./svg/cover3.svg);
	margin-top: -1401px;
	margin-left: 50px;
}

/*--------------------500----------------------*/

@media screen and (min-width: $SmallRespWidth) {

	/* block3 */
	.participation {
		margin: 0 auto 175px 122px;
	}

	.participation:hover::after {
		transform: translate(0px, 345px);
		transition: transform 2s ease-in-out;
		z-index: 1;
	}

	/* cover3 */
	.extra3 {
		margin-top: -1380px;
		margin-left: 160px;
	}
}