@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
body {
  background-color: #d2fcd2;
  display: grid;
  margin: -80px auto auto -10px;
}

.extra1:hover,
.extra2:hover,
.extra3:hover,
.extra4:hover,
.extra5:hover {
  opacity: 0;
  transition: 1.5s;
}

header {
  background-image: linear-gradient(#d2fcd2, darkturquoise, #d2fcd2);
  height: 200px;
  background-position: bottom;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

header::after {
  content: url(./svg/smallLink.svg);
  margin-left: 20px;
  position: absolute;
  margin-top: -20px;
  z-index: 2;
}

h1,
h2 {
  width: 360px;
  display: block;
  margin: 0;
  text-align: right;
  line-height: 0.1em;
  color: #ad01ad;
}

h1 {
  font-size: 37px;
  margin-top: 120px;
  margin-bottom: 35px;
  font-family: "Merienda", cursive;
}

h2 {
  font-size: 20px;
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
}

h3 {
  font-family: "Merienda", cursive;
  margin-bottom: -10px;
  text-align: center;
}

.summary::after {
  content: "CLICK or HOVER on each BLOCK to reveal a hidden message!";
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  font-size: 22px;
  color: #ad01ad;
}

.summary {
  padding: 0 75px 0 105px;
  margin: auto 14px 0 10px;
  text-align: right;
  font-family: "Merienda", cursive;
  line-height: 1.1em;
  color: #555454;
  margin-top: -60px;
}

.summary p a {
  text-decoration: none;
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  font-size: 20px;
  color: #ad01ad;
}

/*--------------------500----------------------*/
@media screen and (min-width: 500px) {
  body {
    max-width: 500px;
    margin: auto;
  }

  header {
    height: 150px;
    margin-top: -50px;
  }

  /* Link: */
  header::after {
    position: fixed;
    margin-top: -60px;
    margin-left: 5px;
  }

  h1,
h2 {
    width: 470px;
  }

  .summary {
    padding: 0 70px 0 120px;
    line-height: 1.5em;
  }
}
/*--------------------767----------------------*/
@media screen and (min-width: 767px) {
  h1,
h2 {
    width: 610px;
    text-align: center;
  }

  .summary {
    text-align: center;
    padding: 0 120px;
  }

  h2::after {
    content: url(./svg/littleZelda.svg);
    position: fixed;
    margin-top: -213px;
    margin-left: 100px;
  }
}
/*.preamble {
    display: grid;
      grid-template-columns: repeat(18, 20px);
      grid-template-rows: repeat(28, 20px);
    font-family: $Font-p;
    font-size: 17.5px;
    color: white;
      width: 100%;
    text-align: justify;
    line-height: 1em;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
      &::before{
          content: url(./svg/block1.svg);
          z-index: 2;
          grid-column: 1/-1;
          grid-row: 1/-1;
      }
      h3 {
          font-family: $Font-H;
          font-size: 25px;
          line-height: 1em;
          grid-column: 5/18;
          grid-row: 4/7;
          z-index: 3;
      }
      p {
          padding:0;
          margin:0;
          z-index: 3;
          opacity: 0;
          transition: opacity 5s;

          &:nth-of-type(1){
              grid-column: 5/17;
              grid-row: 9/14;
          }
          &:nth-of-type(2){
              grid-column: 5/17;
              grid-row: 13/18;
          }
          &:nth-of-type(3){
              grid-column: 8/15;
              grid-row: 18/28;
          }
          &:last-of-type{
              &::after{
                  content: url(./svg/flat-drawbridge2.svg);
                  background-color: black;
                  width:80px;
                  height: 10px;
                  z-index: 1;
                  position: absolute;
                  top: 305px;
                  left: 170px;
                  transition: transform 3s ease-in-out;
              }
              &:hover::after{
                  transform: translate(0px, 230px);
              }
          }
      }
      &::after{
          content: url(./svg/cover1.svg);
          grid-column: 5/18;
          grid-row: 5/28;
          z-index: 5;
          width: 100%;
          margin-left:-6px;
          margin-top:-6px;
          transition: z-index .5s ease-in-out;
      }
      &:hover{
          p{opacity: 100%;}
          &::after{
              z-index:1;}
      }
  }*/
div.preamble {
  display: block;
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  font-size: 17.5px;
  color: white;
  width: 360px;
  height: 760px;
  text-align: justify;
  line-height: 1em;
  background-image: url(./svg/block1.svg);
  background-repeat: no-repeat;
  margin: -15px auto 0px 9px;
}

.preamble p {
  padding: 0px 40px;
  margin: 20px 0 0 45px;
}

.preamble h3 {
  font-family: "Merienda", cursive;
  font-size: 25px;
  line-height: 1em;
  padding: 80px 50px 0 90px;
}

.preamble p:nth-child(4) {
  width: 160px;
  text-align: justify;
  margin-left: 90px;
}

.extra1 {
  content: url(./svg/cover1.svg);
  margin-top: -2913px;
  margin-left: 84px;
}

.preamble::after {
  content: url(./svg/flat-drawbridge.svg);
  display: block;
  margin-top: -250px;
  margin-left: 130px;
  position: absolute;
  z-index: -1;
}

.preamble:hover::after {
  transform: translate(0px, 250px);
  transition: transform 3s ease-in-out;
}

/*--------------------500----------------------*/
@media screen and (min-width: 500px) {
  /* block1 */
  div.preamble {
    margin: -15px auto -50px 125px;
  }

  /* cover1 */
  .extra1 {
    margin: -2810px auto auto 199px;
  }
}
.explanation h3 {
  font-family: "Merienda", cursive;
  font-size: 21px;
  line-height: 1em;
  margin-left: -45px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.explanation {
  display: block;
  background-image: url(./svg/block2.svg);
  background-repeat: no-repeat;
  text-align: justify;
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  font-size: 17px;
  width: 360px;
  height: 800px;
  line-height: 1.11em;
  margin: 0 auto -50px 10px;
}

.explanation p {
  width: 245px;
  display: block;
  padding: 0px 40px;
  margin-left: -7px;
}

.extra2 {
  content: url(./svg/cover2.svg);
  margin: -2199px auto auto 34px;
}

.explanation::after {
  content: url(./svg/flat-drawbridge.svg);
  display: block;
  margin-top: -340px;
  margin-left: 102px;
  position: absolute;
  z-index: -1;
}

.explanation:hover::after {
  transform: translate(0px, 350px);
  transition: transform 3s;
}

.explanation p:nth-child(3) {
  width: 160px;
}

/*--------------------500----------------------*/
@media screen and (min-width: 500px) {
  /* block2 */
  .explanation {
    margin: 0 auto -100px 122px;
  }

  /* cover2 */
  .extra2 {
    margin: -2148px auto auto 146px;
  }
}
.participation {
  display: block;
  width: 360px;
  height: 850px;
  background-repeat: no-repeat;
  background-image: url(./svg/block3.svg);
  margin: 0 auto -50px 10px;
}

.participation::after {
  position: absolute;
  content: url(./svg/bridge3.svg);
  margin-top: -380px;
  margin-left: 8px;
  z-index: -1;
}

.participation:hover::after {
  transform: translate(0px, 365px);
  transition: transform 4s ease-in-out;
}

.participation h3 {
  color: white;
  font-size: 26px;
  line-height: 1.2em;
  font-family: "Merienda", cursive;
  padding-top: 45px;
}

.participation p {
  font-size: 16px;
  color: white;
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  text-align: justify;
  width: 260px;
  display: block;
  margin: 12px auto auto auto;
}

.participation a {
  color: orange;
  text-decoration: none;
}

.extra3 {
  content: url(./svg/cover3.svg);
  margin-top: -1431px;
  margin-left: 50px;
}

/*--------------------500----------------------*/
@media screen and (min-width: 500px) {
  /* block3 */
  .participation {
    margin: 0 auto -50px 122px;
  }

  /* cover3 */
  .extra3 {
    margin-top: -1430px;
    margin-left: 160px;
  }
}
.benefits {
  width: 360px;
  height: 600px;
  background-image: url(./svg/block4.svg);
  background-repeat: no-repeat;
  margin: auto auto 0px 15px;
}

.benefits p {
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  font-size: 16.5px;
  text-align: center;
  width: 250px;
  display: block;
  margin: auto;
  padding-right: 10px;
}

.benefits h3 {
  font-family: "Merienda", cursive;
  font-size: 30px;
  line-height: 1em;
  padding-top: 55px;
  padding-bottom: 20px;
}

.extra4 {
  content: url(./svg/cover4.svg);
  margin: -505px auto auto 33px;
}

.benefits::after {
  position: absolute;
  content: url(./svg/bridge4.svg);
  z-index: -1;
  margin-top: -300px;
}

.benefits:hover::after {
  transform: translate(0px, 292px);
  transition: transform 2s ease-in-out;
  z-index: 1;
}

/*--------------------500----------------------*/
@media screen and (min-width: 500px) {
  /* block4 */
  .benefits {
    margin-left: 127px;
  }

  /* cover4 */
  .extra4 {
    margin: -505px auto auto 144px;
  }

  .benefits:hover::after {
    transform: translate(0px, 292px);
    transition: transform 3s ease-in-out;
    z-index: -1;
  }
}
.requirements {
  position: absolute;
  width: 365px;
  height: 1050px;
  display: block;
  margin: 0 auto 0 8px;
  background-image: url(./svg/block5.svg);
  background-repeat: no-repeat;
}

.requirements p {
  width: 252px;
  display: block;
  margin: 5px auto auto 80px;
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  font-size: 16.5px;
  line-height: 1.1em;
  text-align: justify;
  text-shadow: white 1px 1px 2px;
}

.requirements h3 {
  font-family: "Merienda", cursive;
  font-size: 25px;
  line-height: 1em;
  padding: 0px 0 5px 40px;
}

.requirements p:nth-child(5),
.requirements p:nth-child(6) {
  width: 160px;
  margin-left: 185px;
  text-align: left;
  margin-top: 0px;
}

.requirements::after {
  content: url(./svg/drawbridge.svg);
  position: absolute;
  margin-left: 130px;
  margin-top: -315px;
  z-index: -1;
}

.requirements:hover::after {
  transform: translate(0px, 300px);
  transition: transform 1s ease-in-out;
  z-index: 2;
}

.extra5 {
  content: url(./svg/cover5.svg);
  position: absolute;
  margin: 3485px auto auto 80px;
  z-index: 3;
}

/*--------------------500----------------------*/
@media screen and (min-width: 500px) {
  /* block5 */
  .requirements {
    margin: 0 auto 0px 108px;
  }

  .requirements::after {
    width: 375px;
  }

  /* cover5 */
  .extra5 {
    margin: 3301px auto auto 180px;
  }
}
aside.sidebar {
  position: absolute;
  background-image: url(./svg/block6.svg);
  background-repeat: no-repeat;
  padding: 20px 15px 15px 32px;
  width: 360px;
  height: 1200px;
  display: block;
  margin: 1000px auto auto 11px;
  z-index: 1;
}

aside.sidebar a:link,
aside.sidebar a:visited {
  color: white;
  text-decoration: none;
  text-shadow: lightgrey 1px 1px 1px;
}

li:hover {
  background-color: grey;
  border-radius: 5px;
  padding: 3px 10px;
}

aside.sidebar a:hover,
aside.sidebar:hover {
  color: #ad01ad;
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  text-shadow: purple 1px 1px 1px;
}

aside.sidebar h3 {
  font-family: "Merienda", cursive;
  font-size: 29px;
  text-align: center;
  color: purple;
  background-color: lightgrey;
  padding: 5px;
  border-radius: 5px;
  line-height: 0.7em;
  width: 240px;
  margin-left: 48px;
}

aside.sidebar ul li {
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  color: white;
  width: 200px;
  display: block;
  margin-left: 30px;
  font-size: 18px;
}

footer {
  display: none;
}

aside.sidebar::before {
  content: url(./svg/together.svg);
  position: absolute;
  margin-top: 1085px;
  margin-left: -15px;
  z-index: 2;
}

aside.sidebar::after {
  display: block;
  content: "CONGRATULATIONS! YOU WON! . . . Now, go forth into the world and code your very own CSS Zen Garden! . . . This Zen Garden was created by Michael Kendall, Donivan Killpack and Janette Kaymak. All of the images are original Scalable Vector Graphics, lovingly hand-coded by us. Please do not use our artwork without permission © 2021";
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  text-align: center;
  font-size: 22px;
  color: indigo;
  grid-area: world;
  width: 350px;
  height: 350px;
  background-image: linear-gradient(#d2fcd2, darkturquoise, purple);
  border-radius: 600px;
  margin: 350px auto 0 -28px;
  font-weight: bolder;
}

.extra6 {
  content: url(./svg/pinkPalace.svg);
  position: absolute;
  margin-top: 5150px;
  margin-left: 10px;
  z-index: -1;
}

/*--------------------500----------------------*/
@media screen and (min-width: 500px) {
  /* block6 */
  aside.sidebar {
    margin: 1010px auto 0px 125px;
  }

  /* link and zelda */
  aside.sidebar::before {
    margin-top: 1285px;
    margin-left: -65px;
  }

  /* world */
  aside.sidebar::after {
    margin: 220px auto 0 -70px;
    z-index: 3;
    font-weight: normal;
  }

  /*palace*/
  .extra6 {
    z-index: 0;
    margin-top: 4980px;
    margin-left: -100px;
  }
}
/*--------------------767----------------------*//*# sourceMappingURL=style.css.map */