body {
    background-color: rgb(173, 216, 173);
    margin: auto;
}

#icon {
    position: absolute;
    margin-top: 10px;
    max-width: 65px;
    border: 3px solid #912a2d;
    border-radius: 5px;
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

h1 {
    font-family: "Neucha", Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: #912a2d;
    font-variant: small-caps;
    text-shadow: rgb(227, 241, 252) 3px 3px 5px;
}

#top-h1 {
    float: right;
    margin-top: 10px;
    margin-right: 6px;
    font-variant: small-caps;
}

#motto {
    float: right;
    margin-right: -230px;
    margin-top: 33px;
    padding-right: 10px;
    font-size: 12px;
    font-family: "Poppins", cursive, Helvetica;
    font-style: italic;
}

#sage {
    max-width: 100%;
    margin-top: -6.5px;
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

nav {
    margin: 0 auto;
    background-color: #935153;
    margin-top: -17px;
}

.active {
    background-color: #912a2d;
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

.navigation {
    list-style: none;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    font-weight: lighter;
    color: white;
    letter-spacing: .1em;
}
.ham a{
    text-align: center;
}

.navigation a:hover {
    color: #F7b605;
    background-color: #599dda;
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
    transition: 1s;
}

h2 {
    font-family: "Neucha", Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #912a2d;
    text-align: center;
    text-shadow: rgb(227, 241, 252) 3px 3px 5px;
    margin-bottom: 0px;
}

main {
    max-width: 500px;
    margin: auto;
}

.graybox {
    padding: 10px;
    margin: 10px 0px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: italic;
    color: dimgray;
    border: lightgray dotted 2px;
    border-radius: 10px;
    font-size: 15px;
    background-color: white;
}

footer {
    background-color: #599dda;
    padding: 12px 0px .1px 0px;
}

footer p {
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin-top: -5px;
}

footer a {
    background-color: #935153;
    padding: 2px 3px;
    border-radius: 5px;
    color: white;
}

footer a:hover {
    color: mediumblue;
    border: mediumblue solid 1px;
    background-color: white;
    font-size: 14px;
    transition: 1s;
}
#today {
    display: block;
 }

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
    display: block;
}

