body {
    background-color: rgb(173, 216, 173);
}

#icon {
    max-width: 100px;
    border: 7px solid #912a2d;
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

#top-h1 {
    font-family: "Neucha", Arial, Helvetica, sans-serif;
    font-size: 40px;
    float: right;
    margin-right: 10px;
    color: #912a2d;
    font-variant: small-caps;
    text-shadow: rgb(227, 241, 252) 3px 3px 5px;
}

#motto {
    float: right;
    margin-right: 85px;
    margin-top: -30px;
    font-family: cursive;
    
}

#sage {
    max-width: 100%;
    margin-top: -6px;
}

nav {
    background-color: #935153;
    margin-top: -15px;
}