/* Media Query for medium+ views */

@media screen and (min-width: 700px) {

    #icon {
        margin: 0px 20px;
        max-width: 150px;
        border: 3px solid #912a2d;
    }

    #sage {
        display: inline-block;
        min-width: 100%;
        margin-top: -7px;
        box-shadow: rgb(227, 241, 252) 0px 0px 15px;
        margin-top: -25px;
        margin-bottom: 5px;
    }

    h1 {
        font-size: 50px;
    }

    #top-h1 {
        margin-right: 20px;
    }

    #motto {
        margin-top: 65px;
        margin-right: -295px;
        font-family: cursive, fantasy;
        font-size: 18px;
    }

    nav {
        background-color: #9b5153;
        /* For browsers that do not support gradients */
        background-image: linear-gradient(#912a2d, #2094ca);
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 100%;
    }

    .navigation a {
        font-size: 14px;
        text-align: center;
        font-weight: unset;
        letter-spacing: unset;
        border-top: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }

    .navigation a:hover {
        background-color: #f8bf03;
        background-image: linear-gradient(#a5040a, rgb(255, 238, 0));
        box-shadow: lemonchiffon 0px 0px 55px;
        transition: 1s;
    }

    .navigation li:first-child {
        display: none;
    }

    main {
        max-width: 1080px;
        margin: auto;
    }

    h2 {
        font-size: 40px;
    }
    .containerb {
        margin: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1080px;
    }
    figure {
        margin: 5px;
        padding: 15px ;
    }
    
    .gallery {
        border-radius: 10px;
        padding-bottom: 0;
    }
    
   
    footer p {
        font-size: 16px;
        text-align: center;
    }

    footer {
        max-width: 800px;
        margin: auto;
        margin-top: 25px;
        height: 70px;
        padding: 7px 10px 0px 10px;
        border-radius: 10px;
    }

    footer a:hover {
        font-size: 20px;
        transition: 1s;
    }
}


