body {
    background-color: darkseagreen;
    background-image: url(images/grass.png), linear-gradient(purple, rgb(123, 212, 247), white, lemonchiffon, darkseagreen, darkseagreen, darkseagreen, lemonchiffon, white, rgb(123, 212, 247), purple);
    max-width: 1000px;
    margin: auto;
}
.page-wrapper{
    max-width: 850px;
    margin: auto;
}

#banner {
    max-width: 100%;
}
section h1, section h2{
    display: block;
    font-family: cursive;
    line-height: 1.25em;
    color: purple;
   
}
section h1{
    margin: -300px auto auto 50px;
    font-size: 50px;
}

section h2 {
    margin: 0px auto auto 110px;
    font-size: 20px;
}
p.zelda{
    margin-left: 500px;    
    
}

#under {
    width: 360px;
    margin-top: 10px;
    margin-left: 28px;
}

.preamble {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    width: 235px;
    text-align: justify;
    position: absolute;
    margin-top: -575px;
    margin-bottom: -250px;
    margin-left: 106px;
    line-height: 1em;
}
div.preamble h3{
    font-size: 25px;
    line-height: 1.2em;
}

p {
    margin-bottom: -10px;
}

h3 {
    font-family: cursive;
    margin-bottom: -10px;
    text-align: center;
}

.preamble p:nth-child(4) {
    width: 160px;
    text-align: justify;
    margin-left: 40px;
}

#cover {
    width: 352px;
    position: absolute;
    margin-top: 28px;
    margin-left:-340px;
}

#cover:hover,
#cover2:hover,
#cover3:hover,
#cover4:hover,
#cover5:hover {
    opacity: 0;
    transition: 1.5s;
}

#block2 {
    margin-left: 387px;
    width: 360px;
    margin-top: -435px;
}

.explanation {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    width: 235px;
    position: absolute;
    margin-top: -690px;
    margin-bottom: -250px;
    margin-left: 427px;
    line-height: 1em;
}

.explanation p:nth-child(3) {
    width: 160px;
}
div.explanation h3{
    font-size: 24px;
    line-height: 1em;
}

#cover2 {
    width: 297px;
    margin-top: -492px;
    margin-left: -22px;
}

#block3 {
    margin-top: -352px;
    margin-left: 35px;
}

div.participation {
    color: rgb(1, 56, 1);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 280px;
    font-size: 15px;
    margin-top: -504px;
    margin-left: 75px;
    text-align: justify;
}
div.participation h3{
    font-size: 30px;
    line-height: 1em;
}

#cover3 {
    position: absolute;
    margin-left: -335px;
    margin-top: -311px;
    width: 312px;
}

#block4 {
    position: absolute;
    margin-top: -352px;
    margin-left: 395px;
}

div.benefits {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 210px;
    font-size: 16px;
    margin-top: -320px;
    margin-left: 470px;
    text-align: center;
    line-height: 1em;
}

div.benefits h3 {
    font-size: 35px;
    line-height: 1em;
}

#cover4 {
    position: absolute;
    margin-top: -337px;
    margin-left: 395px;
}

#block5 {
    margin-top: -40px;
    margin-bottom: -110px;
    margin-left: 390px;
}

div.requirements {
    color: rgb(238, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 255px;
    font-size: 15px;
    margin-top: -918px;
    margin-left: 460px;
    text-align: justify;
    line-height: 1em;
}

div.requirements h3 {
    font-size: 30px;
    line-height: 1em;
}

.requirements p:nth-child(5),
.requirements p:nth-child(6) {
    width: 175px;
    margin-left: 90px;
    text-align: left;
}

#cover5 {
    width: 273px;
    position: absolute;
    margin-top: -898px;
    margin-left: 450px;
}

p.link{
    margin-top: 10px;
    margin-left: -420px;
    text-align: center;
}

button {
    color: purple;
    background-color: rgb(188, 218, 23);
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: purple solid 2px;
    font-family: sans-serif;
}
    /*The following images were obtained free from Klipartz,
then it was changed so as not to mimic Zelda #dude and #tilt-dude, #zelda, #wave */

aside.sidebar{
    padding: 30px;
    color: white;
    line-height: 1.3em;
    max-width: 300px;
    background-image: url(images/bricks.png);
    background-color: hsl(342, 100%, 25%, .7);
    background-position: center;
    background-size: contain;
    border-radius: 25px;
    margin-top: -880px;
    margin-left: 30px;
}
aside.sidebar a:link, aside.sidebar a:visited{
    color: white;
    text-decoration: none;
}
aside.sidebar a:hover{
    color: purple;
  text-shadow: white 1px 1px 1px;
}
aside.sidebar h3{
    font-size: 30px;
    text-align: center;
    color: purple;
    background-color: rgb(248, 248, 255, .5);
    padding: 5px;
    border-radius: 5px;
}
aside.sidebar ul li{
    font-family: sans-serif;
} 