body {
    background-color: #e4f7cd;
    background-image: radial-gradient(rgb(253, 252, 242), lemonchiffon, #e4f7cd, darkseagreen, rgb(253, 252, 242));
    margin: auto;
}

#icon {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 65px;
    border: 2px solid #912a2d;
    border-radius: 10px;
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

h1 {
    font-family: "Neucha", fantasy, cursive;
    font-size: 26px;
    color: #912a2d;
    font-variant: small-caps;
    text-shadow: rgb(227, 241, 252) 3px 3px 5px;
}

#top-h1 {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    font-variant: small-caps;
}

#motto {
    float: right;
    margin-right: -218px;
    margin-top: 35px;
    padding-right: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif
}

#sage {
    display: none;
}

nav {
    margin: 0 auto;
    background-color: #9b5153;
    background-image: linear-gradient(to right, #912a2d, #2094ca);
    margin-top: -21px;
}

.navigation {
    list-style: none;
    padding: 0;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

.navigation li:first-child {
    display: block;
    height: 45px;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin-top: -10px;
}

#menu {
    margin-top: 2px;
    margin-left: 17px;

}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    font-weight: lighter;
    color: white;
    letter-spacing: .1em;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.active {
    background-color: #912a2d;
    /*background-image: linear-gradient( #a5040a, rgb(255, 238, 0));*/
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

.ham a {
    text-align: left;
}

h2 {
    font-family: "Neucha", fantasy, cursive;
    font-size: 38px;
    color: #912a2d;
    text-align: center;
    text-shadow: rgb(227, 241, 252) 3px 3px 5px;
    margin-bottom: 0px;
}

h3 {
    font-family: "Neucha", fantasy, cursive;
    font-size: 25px;
    color: #912a2d;
    text-shadow: rgb(227, 241, 252) 3px 3px 5px;
    text-align: center;
    line-height: .5;
}

/*-----------------------------------------main-------------------------*/
#flashflood {
    display: block;
    margin: 130px auto 0 auto;
    width: 100%;
}

#storybox {
    position: absolute;
    background-color: rgb(141, 215, 245, .75);
    padding: 0 15px;
    margin: -255px 50px 0px 50px;
    font-family: "Poppins", Helvetica, sans-serif;
    text-align: justify;
    border: rgb(252, 246, 196) solid 2px;
    border-radius: 10px;
}

section h1,
section h2,
section h3,
section h4 section h5 {
    text-align: center;
}

section h1 {
    font-family: "Neucha", fantasy, cursive;
    font-size: 32px;
    font-variant: none;
}

section h2 {
    text-shadow: transparent 3px 3px 5px;
    color: black;
    font-family: cursive, fantasy;
    font-size: 22px;
    margin-bottom: 35px;

}

section h3,
section h4,
section h5 {
    text-shadow: transparent 3px 3px 5px;
    color: black;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: .3em;
}

section h5 {
    margin-top: -1px;
}

section {
    width: 85%;
    margin: auto;
    background-color: lemonchiffon;
    border: rgb(248, 238, 143) solid 3px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: darkslategray 0 0 20px;
}

.cards {
    margin-top: 50px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

main img {
    display: block;
    width: 100%;
    margin-left: 0;

}

/*---------------------------------------footer------------------------*/

#bottom {
    text-align: center;
    font-family: Poppins, Helvetica, sans-serif;
    margin: 50px 0 20px 0;

}

#bottom a {
    text-decoration: none;
    text-shadow: 1px 1px white;
    color: black;
    font-size: 16px;
    font-weight: bolder;
    background-image: url(https://janettekaymak.github.io/lesson9/wire-frame/images/desktop-frame.jpg);
    background-size: 20em;
    padding: 50px 5px 5px 5px;
    border-radius: 5px;
}

footer {
    background-color: #9b5153;
    background-image: linear-gradient(rgb(214, 240, 252), rgb(2, 94, 156));
    padding: 12px 0px .1px 0px;
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

footer p {
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin-top: -5px;
}

footer a {
    background-color: #a5040a;
    padding: 2px 3px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: mediumblue;
    border: mediumblue solid 1px;
    background-color: white;
    font-size: 14px;
    transition: 1s;
}

#today {
    display: block;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
    display: block;
}