body {
    background-color: #e4f7cd;
    background-image: radial-gradient(rgb(253, 252, 242), lemonchiffon, #e4f7cd, darkseagreen, rgb(253, 252, 242));
    margin: auto;
}

#icon {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 65px;
    border: 2px solid #912a2d;
    border-radius: 10px;
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

h1 {
    font-family: "Neucha", fantasy, cursive;
    font-size: 26px;
    color: #912a2d;
    font-variant: small-caps;
    text-shadow: rgb(227, 241, 252) 3px 3px 5px;
}

#top-h1 {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    font-variant: small-caps;
}

#motto {
    float: right;
    margin-right: -218px;
    margin-top: 35px;
    padding-right: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif
}

#sage {
    display: none;
}

nav {
    margin: 0 auto;
    background-color: #9b5153;
    background-image: linear-gradient(to right, #912a2d, #2094ca);
    margin-top: -21px;
}

.navigation {
    list-style: none;
    padding: 0;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

.navigation li:first-child {
    display: block;
    height: 45px;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin-top: -10px;
}

#menu {
    margin-top: 2px;
    margin-left: 17px;

}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    font-weight: lighter;
    color: white;
    letter-spacing: .1em;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.active {
    background-color: #912a2d;
    /*background-image: linear-gradient( #a5040a, rgb(255, 238, 0));*/
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

.ham a {
    text-align: left;
}

h2 {
    font-family: "Neucha", fantasy, cursive;
    font-size: 28px;
    color: #912a2d;
    margin-left: 35px;
    text-shadow: rgb(227, 241, 252) 3px 3px 5px;
    margin-bottom: 0px;
}

/*---------------- FORM ---------------*/
form{
    font-family: "Poppins", sans-serif;
    color: #7c0206;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid #1e316d;
    border-radius: 10px;
    padding: .5rem 2%;
    max-width: 100%;
}
form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
    color: #1e316d;
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
    max-width: 100%;
}
form label.top input, form label.top select, form label.top select.option{
    -webkit-appearance: none;
    display: block;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 420px;
    background-color:white;
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
    max-width: 100%;
}
#margin{
    margin-top: 15px;
    margin-left: -8px;
    color: #7c0206;
}
textarea.textbox{
    padding: .5rem;
    width: 420px;
    height: 215px;
    border-radius: 5px;
}
    
form input.submitBtn{
    border: none;
    background-color: #912a2d;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0 0 50px;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: #aa2a2e solid 6px;
}
form label.top input:required:valid{
    border-left: green solid 6px;
}

.flexly {
	display: flex;
    align-items: center;
}
#white {
    background-color: white;
    width: 200px;
    color: #555;
}
#ratingvalue {
    margin: 0 15px;
}
.stormImg, .stormImg2, .stormImg3 {
    display: none;
}
h3.thankyou{
    font-family: "Neucha", fantasy, cursive;
    text-align: center;
    font-size: 20px;
    color: #912a2d;
    text-shadow: rgb(227, 241, 252) 3px 3px 5px;
    margin: 50px;

}
.thanksImg{
    display: none;
}



/*------------end of form---------*/

footer {
    background-color: #9b5153;
    background-image: linear-gradient(rgb(214, 240, 252), rgb(2, 94, 156));
    padding: 12px 0px .1px 0px;
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

footer p {
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin-top: -5px;
}

footer a {
    background-color: #a5040a;
    padding: 2px 3px;
    border-radius: 5px;
    color: white;
}

footer a:hover {
    color: mediumblue;
    border: mediumblue solid 1px;
    background-color: white;
    font-size: 14px;
    transition: 1s;
}

#today {
    display: block;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
    display: block;
}

