
body {
    max-width: 360px;
    background-color: darkseagreen;
    background-image: url(https://janettekaymak.github.io/zen-garden/images2/grass2.png), linear-gradient(purple, rgb(123, 212, 247), white, lemonchiffon, darkseagreen, darkseagreen, darkseagreen, lemonchiffon, white, rgb(123, 212, 247), purple);
}

div.page-wrapper {
    max-width: 360px;
  
}

#banner {
    display: block;
    margin: -10px auto auto -10px;
    max-width: 416px;
}
section h1, section h2{
    display: block;
    text-align: center;
    font-family: cursive;
    line-height: .25em;
    color: purple;
   
}
section h1{
    font-size: 50px;
    margin-top: 20px;
}

section h2 {
    font-size: 20px;
}
header::after{
    content:"Click on each block to reaveal a hidden message!";
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 15px;
    margin-left: 10px;
    color: rgb(1, 48, 1);
}
p.zelda{
    width: 200px;
    margin-top: 6px;
    margin-left: 120px;      
}
p.zelda:nth-child(1){
    margin-left: 100px;
    margin-bottom: -10px;
}


.preamble {
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    width: 235px;
    text-align: justify;
    position: absolute;
    margin-top: -575px;
    margin-left: 78px;
    line-height: 1em;
}

p {
    margin-bottom: -10px;
}

h3 {
    font-family: cursive;
    margin-bottom: -10px;
    text-align: center;
}
div.preamble h3 {
    opacity: 1;
    font-size: 25px;
    line-height: 1.2em;
}

.preamble p:nth-child(4) {
    width: 160px;
    text-align: justify;
    margin-left: 40px;
}

#under {
    width: 360px;
    margin-left: 0px;
}

#cover {
    display: block;
    width: 352px;
    position: absolute;
    margin-top: -615px;
    margin-left: 20px;
   
}
/*div.participation::after {
    font-family: cursive;
    position: absolute;
    content: "The Road to";
    color: white;
    font-size: 30px;
    margin: -1510px auto auto 70px;
}
div.explanation::after {
    font-family: cursive;
    position: absolute;
    content: "Enlightenment";
    color: white;
    font-size: 30px;
    margin: -997px auto auto 60px;
}*/

#cover:hover,
#cover2:hover,
#cover3:hover,
#cover4:hover,
#cover5:hover {
    opacity: 0;
    transition: 1.5s;
}

#block2 {
    margin-left: 0px;
    width: 360px;
    margin-top: -60px;
}

.explanation {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 241px;
    position: absolute;
    margin-top: -692px;
    margin-left: 40px;
    line-height: 1em;
}

.explanation p:nth-child(3) {
    width: 160px;
}

div.explanation h3 {
    opacity: 1;
    font-size: 24px;
    line-height: 1em;
}

#cover2 {
    display: block;
    width: 297px;
    margin-top: -488px;
    margin-left: -22px;
}

/*div.requirements::after {
    font-family: cursive;
    position: absolute;
    content: "So What is This About?";
    color: black;
    font-size: 24px;
    margin-top: -2217px;
    margin-left: -22px;
}*/

#block3 {
    margin-top: -176px;
}

div.participation {
    color: rgb(1, 56, 1);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 280px;
    font-size: 15px;
    margin-top: -505px;
    margin-left: 42px;
}
div.participation h3 {
    opacity: 1;
    font-size: 30px;
    line-height: 1em;
}

#cover3 {
    display: block;
    position: absolute;
    margin-left: 22px;
    margin-top: -480px;
    width: 310px;
}
/*aside::after {
    color: rgb(1, 56, 1);
    font-family: cursive;
    position: absolute;
    content: "Participation";
    font-size: 34px;
    margin-top: -2310px;
    margin-left: 67px;
}*/

#block4 {
    margin-top: -27px;
}

div.benefits {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 220px;
    font-size: 15px;
    margin-top: -315px;
    margin-left: 70px;
    text-align: center;
}

div.benefits h3 {
    opacity: 1;
    font-size: 35px;
    line-height: 1em;
}

#cover4 {
    display: block;
    position: absolute;
    margin-top: -329px;
}

/*div.requirements::before {
    color: black;
    font-family: cursive;
    position: absolute;
    content: "Benefits";
    font-size: 35px;
    margin-top: -285px;
    margin-left: 55px;
}*/

#block5 {
    margin-top: -25px;
    margin-bottom: -110px;
}

div.requirements {
    color: rgb(238, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 255px;
    font-size: 14.5px;
    margin-top: -925px;
    margin-left: 70px;
    text-align: justify;
}

div.requirements h3 {
    opacity: 1;
    font-size: 30px;
    line-height: 1em;
}

.requirements p:nth-child(5),
.requirements p:nth-child(6) {
    width: 175px;
    margin-left: 90px;
    text-align: left;
}

#cover5 {
    display: block;
    width: 275px;
    position: absolute;
    margin-top: -900px;
    margin-left: 60px;
}
/*aside::before {
    color: white;
    font-family: cursive;
    position: absolute;
    content: "Requirements";
    font-size: 30px;
    margin-top: -945px;
    margin-left: 85px;
}*/

button {
    color: purple;
    background-color: rgb(188, 218, 23);
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: purple solid 2px;
    font-family: sans-serif;
}

/*The following images were obtained free from Klipartz,
then it was changed so as not to mimic Zelda #dude and #tilt-dude, #zelda, #wave */

aside.sidebar {
    padding: 30px;
    color: white;
    line-height: 1.3em;
    max-width: 300px;
    background-image: url(https://janettekaymak.github.io/zen-garden/images2/bricks2.png);
    background-color: hsl(342, 100%, 25%, .7);
    background-position: center;
    background-size: contain;
    border-radius: 25px;
    margin-top: 24px;

}

aside.sidebar a:link,
aside.sidebar a:visited {
    color: white;
    text-decoration: none;
}

aside.sidebar a:hover {
    color: purple;
    text-shadow: white 1px 1px 1px;
}

aside.sidebar h3 {
    font-size: 30px;
    text-align: center;
    color: purple;
    background-color: rgb(248, 248, 255, .5);
    padding: 5px;
    border-radius: 5px;
}

aside.sidebar ul li {
    font-family: sans-serif;
}
p.link {
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
}
p.link:nth-child(2){
    margin-bottom: 50px;
}