@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
header{
    background-color: #6495ED;
    text-align: right;
    padding: 30px;
    color: #FAEBD7;
    margin-top: -40px;
    margin-left: -40px;
    margin-right: -35px;
    
}
    a {
    text-decoration: none;
}
h1, h2 {
    font-family: Lora;
}
h1 a {
    color:  #FAEBD7;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    background-color:  #FAEBD7;
    padding: 30px;
}
article{
    background-color: white;
}
ul li a{
    color:  #FAEBD7;
}