@media screen and (min-width: 900px) {

    h1 {
        padding: 20px 30px;
        font-size: 50px;
        margin: 0 180px;
    }

    #lemon-box {
        max-width: 560px;
        position: absolute;
        margin-top: -600px;
        margin-left: 700px;
    }

    #long-bio {
        line-height: 1.8em;
        position: absolute;
        width: 52.5%;
        margin-top: -98%;
        margin-left: 40%;
        color: black;
    }

    header.leylakBorder{
        margin: 20px 350px; 
    }

    img.green, img.leylak{
        border-radius: 15px;
        display: block;
        margin: auto;
    }

    nav li {
        padding: 10px;
    }

    nav ul li a:link,
    a:visited {
        font-size: 25px;
    }

    h2.leylak{
        font-size: 25px;
    }

    header.leylakBorder{
        padding: 5px;
        margin: 30px 200px auto 200px; 
    }

    h1.green{
        font-size: 40px;
        line-height: .1em;
        padding-top: 20px;
    }
    h2.leylak, h1.leylak{
        line-height: .1em;
    }

    div.movieTop{
        margin: 50px;
        max-width: 45%;
        background-color: rgb(196, 192, 147);
        background-image: radial-gradient(rgb(246, 248, 218), rgb(223, 219, 183),rgb(114, 111, 84));
    }

    div.movieBottom{
        line-height: 2em;
        position: absolute;
        margin-top: -750px;
        margin-left: 43%;
        max-width: 50%;
        border-radius: 15px;
       

    }

    #tours-grid-box {
        margin: auto;
        margin-bottom: 40px;
        margin-top: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 87%;
    }

    #tour1,
    #tour2,
    #tour3,
    #tour4,
    #tour5,
    #tour6,
    #tour7,
    #tour8,
    #tour9,
    #tour10,
    #tour11,
    #tour12,
    #tour13,
    #tour14,
    #tour15,
    #tour16,
    #tour17,
    #tour18  {
        padding: 20px;
    }

    #tours-grid-box img {
        width: 100%;
    }



}