@media screen and (min-width: 900px) {

    h1 {
        padding: 20px 30px;
        font-size: 50px;
        margin: 0 180px;
    }

    h1.interviews{
        margin: 0 250px;
    }

    #lemon-box {
        max-width: 560px;
        position: absolute;
        margin-top: -600px;
        margin-left: 700px;
    }

    #long-bio {
        line-height: 1.8em;
        position: absolute;
        width: 52.5%;
        margin-top: -98%;
        margin-left: 40%;
        color: black;
    }

    img.green {
        border-radius: 15px;
        display: block;
        margin: auto;
    }

    img.leylak {
        display: block;
        margin: auto;
    }

    nav li {
        padding: 10px;
    }

    nav ul li a:link,
    a:visited {
        font-size: 25px;
    }

    h2.leylak {
        font-size: 25px;
    }

    header.leylakBorder {
        max-width: 640px;
        display: block;
        margin: 30px auto auto auto;
    }

    h1.green a:link,
    h1.green a:visited,
    h1.green {
        font-size: 50px;
        line-height: .1em;
        padding-top: 20px;
        margin: 10px auto;
    }

    h2.leylak,
    h1.leylak {
        line-height: .1em;
    }

    #up {
        margin: -20px auto 10px auto;
        font-size: 22px;
    }

    div.movieTop {
        border-radius: 15px;
        margin: 65px 50px;
        max-width: 45%;
        background-color: rgb(196, 192, 147);
        background-image: radial-gradient(rgb(246, 248, 218), rgb(223, 219, 183), rgb(114, 111, 84));
    }

    div.movieBottom {
        border-radius: 15px;
        line-height: 2em;
        position: absolute;
        margin-top: -750px;
        margin-left: 43%;
        max-width: 50%;
    }

    div.top {
        position: sticky;
        max-width: 836px;
        border-radius: 15px 15px 0 0;
        display: block;
        margin: auto auto -50px auto;
    }

    div.bottom {
        position: sticky;
        max-width: 836px;
        border-radius: 0 0 15px 15px;
        display: block;
        margin: -90px auto auto auto;
    }

    #gbottombutt {
        margin-top: -15px;
        margin-bottom: -15px;
    }

    #tours-grid-box {
        margin: auto;
        margin-bottom: 40px;
        margin-top: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 98%;
    }

    #tour1,
    #tour2,
    #tour3,
    #tour4,
    #tour5,
    #tour6,
    #tour7,
    #tour8,
    #tour9,
    #tour10,
    #tour11,
    #tour12,
    #tour13,
    #tour14,
    #tour15,
    #tour16,
    #tour17,
    #tour18 {
        padding: 0px;
    }

    #tours-grid-box img {
        min-width: 94%;
    }

    #newsbox{
        display: block;
        margin: auto;
        max-width: 1200px;
    }

    #news1, #news4{
        margin: 30px;
        padding: 15px;
        border: gray 1px solid;
        border-radius: 15px;
    }
    #news1{
        padding: 30px;
    }

}