@media screen and (min-width: 900px) {

    h1 {
        padding: 10px;
        font-size: 60px;
        margin: 0 200px;
    }

    #lemon-box {
        max-width: 560px;
        position: absolute;
        margin-top: -600px;
        margin-left: 700px;
    }



}