@media screen and (min-width: 768px){

    ul li{
        display: inline-flex;
        padding: 5px 10px;
    }

    nav {
        text-align: center;
        margin-left: 0;
    }

    img.small-mico{
        display: none;
    }
    img.mico{
        display: block;
    }

    h1{
        margin: 0 120px
    }

    #lemon-box {
        max-width: 660px;
    }

    #long-bio {
       
        padding: 0 35px;
        width: 21%;
        float: right;
        text-align: left;
        line-height: 2em;
    }

    img.sunset {
        max-width: 71%;
    }

}