@media screen and (min-width: 768px) {

    ul li {
        display: inline-flex;
        padding: 5px 10px;
    }

    nav {
        text-align: center;
        margin-left: 0;
    }

    img.small-mico {
        display: none;
    }

    img.mico {
        display: block;
    }

    h1 {
        margin: 0 120px
    }

    #lemon-box {
        max-width: 660px;
    }

    #long-bio {
        background-color: rgb(250, 247, 233, .5);
        padding: 10px 40px;
        line-height: 1.31em;
        position: absolute;
        width: 52.5%;
        margin-top: -100%;
        margin-left: 40%;
        color: black;
        border-radius: 15px;
    }

    img.aboutPhoto {
        min-width: 100%;
    }

}
