/*@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&family=Carter+One&display=swap');*/

body {
    margin: auto;
    background-color: black;
    color: white;
}

nav ul li a:link,
a:visited {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Raleway', Helvetica, sans-serif;
    padding: 5px 10px;
    border: dotted transparent 6px;
}

nav ul li a:hover {
    background-color: white;
    border: dotted rgb(179, 78, 209) 6px;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    transition: 1s;
}

nav {
    margin-left: 80px;
}

p.center a:link, p.center a:visited{
    color: lemonchiffon;
}

p.center{
    text-align: center;
    padding-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

ul li {
    font-family: Raleway;
    line-height: 1em;
}

span.lilac {
    color: rgb(179, 78, 209);
    font-weight: bolder;
    font-size: 125%;
    ;
}

nav li {
    list-style: none;
    padding: 3px;
}

header {
    margin-top: 50px;
    text-align: center;
}

h1 {
    font-family: 'Limelight';
    font-size: 40px;
    color: lemonchiffon;
    border: dotted rgb(179, 78, 209) 7px;
    padding: 5px;
    margin: -40px 10px 0 10px;
}

img.mico {
    display: none;
}

img.small-mico {
    min-width: 100%;
}

#lemon-box {
    background-color: lemonchiffon;
    margin: auto;
    max-width: 360px;
    color: black;
    padding: 10px 40px;
    line-height: 2em;
    border-radius: 15px;

}

p {
    font-family: 'Raleway', Helvetica, sans-serif;
}

img.aboutPhoto {
    display: inline-block;
    min-width: 100%;
}

#long-bio {
    line-height: 1.5em;
    padding: 0 30px;
    text-align: left;
}

img.janette {
    display: none;
}

a.jette {
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    color: rgb(200, 2, 250);
}

a.jette:hover {
    font-size: 20px;
    color: forestgreen;
}

img.green,
img.leylak {
    max-width: 100%;
}

.pinkLilac {
    color: rgb(221, 87, 233);
    font-family: cursive;
    font-size: 70px;
    border: none;
}

h2.leylak {
    color: rgb(180, 176, 180);
    font-family: Limelight;
    font-size: 110%;
    padding: 0 20px;
}

h2.gallery {
    color: rgb(118, 201, 98);
    font-family: Limelight;
    font-size: 40px;
    padding: 0 20px;
}

h3.leylak,
h4.year {
    color: rgb(180, 176, 180);
    font-family: Raleway;
    padding: 0 20px;
}

h4.year {
    margin-top: 0px;
    line-height: .5em;
}

header.leylakBorder {
    border: dotted rgb(179, 78, 209) 7px;
    padding: 5px;
    margin: 20px 15px 20px 15px;
}

#up {
    margin: -20px auto 10px auto;
    color: rgb(180, 176, 180, .6);
    font-size: 25px;
}

h1.green,
h1.green a:link,
h1.green a:visited {
    margin: auto auto -20px auto;
    border: none;
    color: rgb(118, 201, 98);
    font-size: 75px;
    text-decoration: none;
}

h1.green a:hover {
    color: greenyellow;
}

div.movieTop {
    background-color: rgb(196, 192, 147);
    background-image: radial-gradient(rgb(246, 248, 218), rgb(223, 219, 183), rgb(114, 111, 84));
    color: black;
    padding: 10px 30px 50px 30px;
    line-height: 1.5em;
}

#topbutt {
    margin-bottom: 15px;
}

#bottombutt {
    margin-top: 15px;
}

#gbottombutt {
    margin-top: 30px;
    margin-bottom: -35px
}

#photobutt {
    margin-bottom: -25px;
}

#tours-grid-box img,
figure {
    display: block;
    margin: auto auto 15px auto;
}

#tours-grid-box img {
    max-width: 90%;
    border: gray ridge 5px;
    border-radius: 3px;
}

#tours-grid-box {
    margin-bottom: 30px;
    margin-top: 50px;
}

#tours-grid-box img:hover,
#article img:hover {
    box-shadow: gray 0 0 50px;
}

div.movieBottom {
    margin-top: -6px;
    background-color: rgb(73, 107, 73);
    background-image: linear-gradient(rgb(177, 209, 177), rgb(118, 165, 118), rgb(73, 107, 73), rgb(37, 54, 37), rgb(19, 32, 19), black);
    padding: 10px 30px;
    line-height: 1.5em;
}

div.movieBottom p {
    margin-bottom: 40px;
    margin-top: 15px;
}

div.top {
    margin-top: -6px;
    padding: 10px 30px;
    line-height: 1.5em;
    color: black;
    background-color: rgb(216, 181, 226);
    background-image: linear-gradient(rgb(241, 249, 250), rgb(236, 208, 245), rgb(179, 78, 209));
}

div.bottom {
    margin-top: -6px;
    padding: 10px 30px;
    line-height: 1.5em;
    color: black;
    background-color: rgb(216, 181, 226);
    background-image: linear-gradient(rgb(179, 78, 209), rgb(236, 208, 245), rgb(241, 249, 250));
}

a.button {
    margin: auto;
    display: block;
    padding: 5px 10px;
    width: 160px;
    background-color: white;
    border: dotted rgb(179, 78, 209) 6px;
    font-family: Limelight;
    font-size: 20px;
    text-decoration: none;
}

a.button:link,
a.button:visited {
    color: black;
    text-align: center;
}

h1.interviews {
    margin: -30px 20px 10px 20px;
    line-height: 1.5em;
    padding: 10px 0;
    font-size: 25px;
}

#newsbox h2 {
    text-align: center;
    color: grey;
    font-family: Limelight;
}

/*div.fb-post {
   max-width: 360px;
}*/

img.newsimg{
    display: block;
    margin: auto;
    max-width: 360px;
}

/*#news1{
    max-width: 360px;
}*/

#newsbox p {
    margin: 10px 20px;
    line-height: 1.5em;
}

#park{
    max-width: 100%;
}

h5 {
    text-align: center;
    margin: -20px 20px 10px 20px;
     color: lightgray;
    font-family: Raleway, sans-serif;
}

footer {
    background-color: black;
    padding: 20px 150px;
}

footer p {
    text-align: center;
}