/*@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&family=Carter+One&display=swap');*/

body {
    margin: auto;
    background-color: black;
    color: white;
}

/*body.about{
    background: url(images/sunset.jpg);
    background-size: cover;
    background-position: center center;
}*/

nav ul li a:link,
a:visited {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Raleway', Helvetica, sans-serif;
    padding: 5px 10px;
    border: dotted  transparent 6px;
}

nav ul li a:hover {
    background-color: white;
    border: dotted  rgb(133, 7, 252) 6px;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    transition: 1s;
}

nav {
    margin-left: 80px;
}

li {
    margin-bottom: 10px;
}

span.lilac {
    color: rgb(133, 7, 252);
    font-weight: bolder;
    font-size: 125%;
    ;
}

nav li {
    list-style: none;
    padding: 3px;
}

header {
    margin-top: 50px;
    text-align: center;
}

h1 {
    font-family: 'Limelight';
    font-size: 40px;
    color: lemonchiffon;
    border: dotted rgb(193, 136, 247) 7px;
    padding: 5px;
    margin: 0 10px
}

img.mico {
    display: none;
}

img.small-mico {
    min-width: 100%;
}

#lemon-box {
    background-color: lemonchiffon;
    margin: auto;
    max-width: 360px;
    color: black;
    padding: 10px 40px;
    line-height: 2em;
    border-radius: 15px;

}

p {
    font-family: 'Raleway', Helvetica, sans-serif;
    text-align: justify;
}

img.aboutPhoto {
    display: inline-block;
    min-width: 100%;
}

#long-bio{
    line-height: 1.5em;
    padding: 0 30px;
    text-align: left;
}

img.janette{
    display: none;
}

a.jette{
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    color: rgb(200, 2, 250);
}

a.jette:hover{
    font-size: 20px;
    color: forestgreen;
}

img.green, img.leylak{
    max-width: 100%;
}

.pinkLilac{
    color: rgb(248, 76, 248);
    font-family: cursive;
    font-size: 70px;
    border: none;
}
h2.leylak{
    color: rgb(180, 176, 180);
    font-family: Limelight;
    font-size: 110%;
    padding: 0 20px;
}

h2.gallery{
    color: rgb(118, 201, 98);
    font-family: Limelight;
    font-size: 40px;
    padding: 0 20px;
}

h3.leylak{
    color: rgb(180, 176, 180);
    font-family: Raleway;
    padding: 0 20px;
}

header.leylakBorder{
    border: dotted rgb(193, 136, 247) 7px;
    padding: 5px;
    margin: 20px; 
}

#up{
    margin: -20px auto 10px auto;
    color: rgb(180, 176, 180, .6);
    font-size: 25px;
}

h1.green {
    margin: auto;
    border: none;
    color: rgb(118, 201, 98);
    font-size: 75px;
}

div.movieTop{
    background-color: rgb(196, 192, 147);
    background-image: radial-gradient(rgb(246, 248, 218), rgb(223, 219, 183),rgb(114, 111, 84));
    color:black;
    padding: 10px 30px 50px 30px;
    line-height: 1.5em;
}

#tours-grid-box img, figure {
    display: block;
    margin: auto auto 50px auto;
    border-radius: 8px;
}

#tours-grid-box img{
    border: solid 1px;
}

#tours-grid-box {
    margin-bottom: 30px;
    margin-top: 50px;
}

div.movieBottom{
    margin-top: -6px;
    background-color: rgb(73, 107, 73);
    background-image: linear-gradient(rgb(177, 209, 177),rgb(118, 165, 118),rgb(73, 107, 73),rgb(37, 54, 37),rgb(19, 32, 19), black);
    padding: 10px 30px;
    line-height: 1.5em;
}

div.movieBottom p{
    margin-bottom: 40px;
}

button{
    margin: auto;
    display: block;
    padding: 10px;
    background-color: white;
    border: dotted  rgb(133, 7, 252) 6px;
    color: black;
    font-family: Limelight;
    font-size: 20px;
}

a{
    text-decoration: none;
}

footer {
    background-color: black;
    padding: 20px 150px;
}

footer p {
    text-align: center;
}