body {
    background-color: #e4f7cd;
    background-image: radial-gradient(rgb(253, 252, 242), lemonchiffon, #e4f7cd, darkseagreen, rgb(253, 252, 242));
    margin: auto;
}
#pancakes{
    background-color: lemonchiffon;
        font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        padding: 0 2px;
        text-align: center;
}

#icon {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 65px;
    border: 2px solid #912a2d;
    border-radius: 10px;
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

h1 {
    font-family: "Neucha", fantasy, cursive;
    font-size: 26px;
    color: #912a2d;
    font-variant: small-caps;
    text-shadow: rgb(227, 241, 252) 3px 3px 5px;
}

#top-h1 {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    font-variant: small-caps;
}

#motto {
    float: right;
    margin-right: -218px;
    margin-top: 35px;
    padding-right: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif
}

#sage {
    display: none;
}

nav {
    margin: 0 auto;
    background-color: #9b5153;
    background-image: linear-gradient(to right, #912a2d, #2094ca);
    margin-top: -21px;
}

.navigation {
    list-style: none;
    padding: 0;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

.navigation li:first-child {
    display: block;
    height: 45px;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin-top: -10px;
}
#menu{
    margin-top: -0px;
    margin-left: 20px;

}
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    font-weight: lighter;
    color: white;
    letter-spacing: .1em;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.active {
    background-color: #912a2d;
    /*background-image: linear-gradient( #a5040a, rgb(255, 238, 0));*/
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

.ham a {
    text-align: left;
}

h2 {
    font-family: "Neucha", fantasy, cursive;
    font-size: 22px;
    color: #912a2d;
    text-align: center;
    text-shadow: rgb(227, 241, 252) 3px 3px 5px;
    margin-bottom: 0px;
}
#preston{
    margin-bottom: 30px;;
}

main {
    max-width: 500px;
    margin: auto;
}
h3 {
    font-family: "Neucha", fantasy, cursive;
    font-size: 18px;
    color: #912a2d;
    text-align: center;
    text-shadow: rgb(227, 241, 252) 3px 3px 5px;
    margin-bottom: 0px;
}
.hero-box{
    position: relative;
    margin-top: -25px;;
}
.hero-box h3 {
    margin-top: 5px;
    font-family: "Neucha", fantasy, cursive;
    font-size: 20px;
    color: rgb(253, 215, 1);
    text-shadow: rgb(1, 59, 99) 2px 2px 2px;
}
span{
   color: rgb(253, 215, 1); 
   text-shadow: rgb(1, 59, 99) 2px 2px 2px;
}

.hero-box p{
    margin-top: 15px;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1;
}
p{
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
.weather-summary{
    position: absolute;
    top: 75px;
    left: 15px;
    background-color: rgba(3, 128, 201, 0.7);
    border: rgb(1, 82, 136) solid 2px;
    color: white;
    padding: 0 15px;
    max-width: 50%;
    border-radius: 15px;
    box-shadow: 0 0 55px lemonchiffon;
}
#rodeo{
    max-width: 550px;
    border-radius: 5px;
}
#widerodeo{
    display: none;
}
#fiveday{
    display: none;
}
.article, .article-wide {
    margin: 0 20px;
    line-height: 1.5;
}
#tent{
    max-width: 100%;
}

.graybox {
    padding: 10px;
    margin: 10px 0px;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: dimgray;
    border: lightgray dotted 2px;
    border-radius: 10px;
    font-size: 15px;
    background-color: white;
}

footer {
    background-color: #9b5153;
    background-image: linear-gradient(rgb(214, 240, 252), rgb(2, 94, 156));
    padding: 12px 0px .1px 0px;
    box-shadow: rgb(227, 241, 252) 0px 0px 15px;
}

footer p {
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin-top: -5px;
}

footer a {
    background-color: #a5040a;
    padding: 2px 3px;
    border-radius: 5px;
    color: white;
}

footer a:hover {
    color: mediumblue;
    border: mediumblue solid 1px;
    background-color: white;
    font-size: 14px;
    transition: 1s;
}

#today {
    display: block;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
    display: block;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}