body {
    background-color: azure;
    margin-left: 40px;
}

header {
    background-color: darkcyan;
    border-radius: 15px;
    width: 95%;
    position: relative;
    border: ridge bisque 15px;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Neucha", Helvetica, sans-serif;
    font-size: 70px;
    line-height: 90px;
}

#chalkanderaser {
    padding: 20px;
    float: left;
    width: 20%;
    margin-top: -50px;
}

#me {
    float: right;
    border-radius: 15px;
    position: relative;
    margin: -22px 22px 0px 0px;
    width: 25%;
}

h2 {
    font-family: "Neucha", Helvetica, sans-serif;
    font-size: 40px;
    margin-left: 40px;
    color: rgb(248, 38, 143);
}

ul {
    font-family: Helvetica;
    color: dimgray;
    margin-left: 20px;
}

footer a:link,
footer a:visited {
    color: whitesmoke;
}

footer a:hover {
    color: cyan;
}

a:hover {
    color: cyan;
}

footer {
    background-color: darkcyan;
    border-radius: 15px;
    width: 95%;
    position: relative;
    border: ridge bisque 15px;
    font-family: Helvetica;
    font-size: 22px;
    color: lightcyan;
    text-align: center;
    margin-top: 65px;
}

#pink {
    color: white;
}

@media screen and (max-width: 980px) {
    body {
        margin-left: 20px;
    }
}

@media screen and (max-width: 500px) {
    body {
        margin-left: 5px;
    }

    #me {
        width: 100%;
        margin: auto;
        margin-top: 62px;
    }

    #chalkanderaser {
        width: 40%;
    }

    footer {
        margin-top: 0px;
    }
}