@media screen and (min-width: 768px) {

    nav ul li a:link,
    a:visited {
        font-size: 20px;
    }

    nav ul li {
        display: inline-flex;
        padding: 5px;
    }

    nav {
        text-align: center;
       margin-bottom: -10px;
    }

    img.small-mico {
        display: none;
    }

    img.mico {
        display: block;
    }

    #long-bio {
        background-color: rgb(250, 247, 233, .5);
        padding: 10px 40px;
        line-height: 1.31em;
        position: absolute;
        width: 52.5%;
        margin-top: -100%;
        margin-left: 40%;
        color: black;
        border-radius: 15px;
    }

    img.aboutPhoto {
        min-width: 100%;
    }

    img.janette {
        margin-top: -5px;
        display: block;
        min-width: 100%;
    }

    h1.green a:link, h1.green a:visited, h1.green {
        line-height: .7em;
        padding-top: 20px;
        font-size: 55px;
        margin-bottom: -5px;
    }

    #greenyear{
        margin-top: -10px;
    }

    h2.leylak, h1.leylak{
        line-height: .3em;
    }
    h4.year{
        padding-top: 10px;
        margin-bottom: 10px;
    }

    #up{
        margin: -50px auto 10px auto;
    }

    div.movieTop {
        position: sticky;
        margin-bottom: -120px;
    }

    div.movieBottom p{
        margin-top: 0px;
    }

    #butt1, #butt2, #butt3{
        margin: 0 20px;
    }

    /*#gbottombutt{
        margin-top: 5px;
    }

    #photobutt{
        margin-bottom: -28px;
    }*/

    #tours-grid-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px;
        color: black;
    }


    #tours-grid-box img {
            max-width: 94%;
    }

    h1.interviews {
        margin: -50px auto -10px auto;
        line-height: 1.5em;
        padding: 10px 0;
        font-size: 35px;
    }

    #newsbox{
        display: block;
        margin: auto;
    }

    #news1, #news2, #news4{
        margin: 30px;
        padding: 15px;
        border: gray 1px solid;
        border-radius: 15px;
    }
    #news1{
        padding: 30px;
    }

    img.newsimg{
        float: left;
    }

    iframe{
        min-width: 650px;
        height: 480px;
    }

}