/* Media Query for large+ views */

@media screen and (min-width: 1188px) {


    #icon {
        min-width: 230px;
        margin-left: 40px;
        border: 4px solid #912a2d;
    }

    #sage {
        margin-top: -70px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 90px;
    }

    #top-h1 {
        margin-top: 20px;
        margin-right: 40px;
    }

    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 35px;
    }

    #motto {
        font-size: 22px;
    }

    .navigation a {
        font-size: 20px;
        padding: 20px;
    }

    /*Preston Page Main--------------------------*/
    .prestonMain{
        max-width: 900px;
    }
    .town-motto{
        font-size: 22px;
        margin-top: -10px;
    }

    .weather-summary{
        top: 30px;
        left: 30px;
    }
    .weather-summary p{
        font-size: 20px;
    } 
    .hero-box h3 {
        margin-top: 5px;
        font-size: 40px;
    }
    table{
        font-size: 18px;
    }
    .prestonEvents, .sodaEvents, .fishEvents {
        max-width: 50%;
    }
   
    .article, .article-wide{
        font-size: 17px;
        margin: 35px 0px;
        max-width: 45%;
    }
    #tent{
        max-width: 50%;
        border-radius: 15px;
        float: right;
        margin-top: -720px;
    }
    #contact{
        display: block;
        max-width: 1200px;
    }
    .graybox{
        position: relative;
        float: right;
        height: 315px;
        margin-top: -405px;
        margin-right: 22px;
    }
    .graybox p{
        line-height: 1.5;
        height: 185px;
    }
    #map1{
        min-width: 46.5%;
    }
    .google-maps{
        margin-left: 45px;
    }

     .social {
        float: right;
        margin-top: -55px;
        padding: 20px 90px 0 40px;
    }

    /*----------- Home page MAIN --------------*/

    #flashflood {
        margin: 0 0 100px 0;
        width: 100%;
        height: 200px;
    }

    #storybox {
        width: 350px;
        margin: -275px auto 0 20px;
        font-size: 21px;
        
    }
    #storybox p{
        margin-top: -20px;
        margin-left: 10px;
    }
    townbox h1 {
        font-size: 35px;
    }

    townbox h2 {
        font-size: 15px;
    }

    townbox p {
        font-size: 14.5px;
    }

    townbox {
        width: 93%;
        margin: auto;
        padding: 10px;
    }
    townbox:nth-child(1){
        grid-row: 1;
        grid-column: 3;
    
    }

    .cards {
        max-width: 1188px;
        margin: 50px auto 100px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 30px;
    }

    townbox img {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }
    #pad{
        display: none;
    }
    #desk{
        display: block;
    }

/*footer-------------------------*/

    footer p {
        font-size: 16px;
    }

    footer {
        max-width: 1350px;
        margin-bottom: 5px;
    }

    footer a:hover {
        font-size: 20px;
    }


/*Gallery Main-------------------------*/

    galleryMain {
        max-width: 1090px;
    }
    .containerb {
        justify-content: center;
        align-items: center;
        margin: -10px 0 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
    }
    
    figcaption {
        display: block;
        font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        text-align: center;
    
    }
    
    figure {
        margin: 10px;
        background-color: white;
        padding: 30px 25px;
        border-radius: 5px;
    }
    
    .gallery:hover {
        box-shadow: 0 0 50px black;
        transition: 1s;
    }
    



/*Storm Center Form Main-------------------*/


    h2 {
        font-size: 60px;
    }

    .formMain {
        max-width: 800px;
    }
    form label.sbs {
        padding: .4rem 0;
    }
    h3.thankyou {
        font-size: 34px;
    }

    footer p {
        font-size: 16px;
    }

    footer {
        max-width: 1200px;
        margin-bottom: 5px;
    }

    footer a:hover {
        font-size: 20px;
    }
}