body {
    background-color: darkseagreen;
    background-image: linear-gradient(purple,rgb(123, 212, 247),white, lemonchiffon,darkseagreen, darkseagreen, darkseagreen, lemonchiffon, white, rgb(123, 212, 247), purple);
    max-width: 850px;
    margin: auto;
}

#banner {
    max-width: 100%;
}

.preamble {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    width: 235px;
    text-align: justify;
    position: absolute flex;
    margin-top: -565px;
    margin-bottom: -250px;
    margin-left: 78px;
    line-height: 1em;
}

p {
    margin-bottom: -10px;
}

h3 {
    margin-bottom: -10px;
    text-align: center;
}

.preamble p:nth-child(4) {
    width: 160px;
    text-align: center;
    margin-left: 40px;
}

#under {
    width: 360px;
    margin-left: 0px;
}

#cover {
    width: 352px;
    position: absolute;
    margin-top: -219px;
    margin-left: 19px;
}

#cover:hover,
#cover2:hover, #cover3:hover, #cover4:hover, #cover5:hover {
    opacity: 0;
    transition: 1.5s;
}

#block2 {
    margin-left: 0px;
    width: 360px;
    margin-top: 320px;
}

.explanation {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 235px;
    position: absolute flex;
    margin-top: -675px;
    margin-bottom: -250px;
    margin-left: 45px;
    line-height: 1em;
}

.explanation p:nth-child(3) {
    width: 160px;
}

#cover2 {
    width: 297px;
    margin-top: -492px;
    margin-left: -26px;
}

#block3 {
    margin-top: 255px;
}
div.participation {
    color: rgb(1, 56, 1);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute flex;
    width: 280px;
    font-size: 15px;
    margin-top: -490px;
    margin-left: 42px;
}
#cover3{
    postion:absolute;
    margin-left: 26px;
    margin-top: -426px;
    width: 310px;
}
#block4{
    margin-top: 0px;
}
div.benefits{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute flex;
    width: 220px;
    font-size: 15px;
    margin-top: -280px;
    margin-left: 70px;
    text-align: center;
    text-shadow: grey 1px 1px;
}
div.benefits h3{
    line-height: .5em;
}
#cover4{
    position: absolute;
    margin-top: -255px;
}
#block5{
    margin-top: 45px;
}
div.requirements{
    color: rgb(238, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute flex;
    width: 255px;
    font-size: 14.5px;
    margin-top: -1010px;
    margin-left: 70px;
    text-align: justify;
}
.requirements h3{
    line-height: .5em;
}
.requirements p:nth-child(5),.requirements p:nth-child(6){
    width: 165px;
    margin-left: 93px;
}
#dude{
    width: 190px;
    margin-top: 60px;
    margin-left: 50px;
}
#cover5{
    position: absolute;
    margin-top: -864px;
    margin-left: 65px; 
}
