#banner{
        max-width: 100%;
}
.preamble{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        width: 235px;
        text-align:justify;
        position: absolute flex;
        margin-top: -565px;
        margin-bottom: -250px;
        margin-left: 68px;
        line-height: 1em;
}
p{
    margin-bottom: -10px;
}
h3{
    margin-bottom: -10px;
    text-align: center;
}
p:nth-child(4){
    width: 160px;
    text-align: center;
    margin-left: 40px;
}
#under{
    width: 360px;
    margin-left: -10px;
}
#cover{
    width: 352px;
    position: absolute;
    margin-top: -219px;
    margin-left: 9px;
}
#cover:hover{
   opacity: 0;
   transition: 1.5s;
}