body{
    max-width: 1200px;
    margin-right: 300px;
    margin-left: 60px;
}
h3, h1{
    text-align: center;
}

section.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -50px;
}
section.pad{
    width: 700px;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 450px;
    margin-top: -260px;
}

footer p{
    text-align: center;
}
div{
    border: black dotted 2px;
    margin: 50px;
    padding: 20px;
}

@media screen and (min-width: 700px) {
    section.pad{
        margin-left: 0;
        margin-top: 0;
    }
}
  

@media screen and (max-width: 700px) {
    section{
        display: block;
    }
}