@media screen and (min-width: 1050px) {

    div.wrapper {
        max-width: 1000px;
        border: ridge 25px rgb(134, 2, 28);
        border-radius: 25px;
        margin-top: 0;
    }

    .roses {
        width: 12%;
        margin-left: 1.9%;
      }

      h1{
        font-size: 55px;
      }

      h2{
        font-size: 38px;
        margin-top: 50px;;
      }
     
      div.bigCircle {
        margin: -70px auto;
      }

      #r8 {
        margin: 30px 10px auto 210px;
      }
    
      #r9 {
        margin-right: 250px;
        margin: 30px 250px auto auto;
    
      }
    
      #border1,
      #border2 {
        width: 30%;
      }

      .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        padding: 10px 0;
        grid-auto-rows: max-content;
      }
    
      #zelda {
        grid-column: 1;
        grid-row: 1/5;
    
      }
    
      #capstone {
        grid-column: 2/4;
        grid-row: 1/2;
    
      }
    
      #scoots {
        grid-column: 2/4;
        grid-row: 2/3;
    
      }
    
      #weather {
        grid-column: 2/4;
        grid-row: 3/4;
    
      }
    
      #skate {
        grid-column: 2/4;
        grid-row: 4/5;
    
      }
    
      #thunder {
        grid-column: 4/5;
        grid-row: 1/5;
    
      }

}