@media screen and (min-width: 768px) {

  div.wrapper {
    max-width: 900px;
    border: ridge 25px darkseagreen;
    border-radius: 25px;
    margin-top: 0;
  }

  .roses {
    width: 13%;
    margin-left: 1.1%;
  }

  h2{
    font-size: 28px;
  }

  #portfolio {
    padding: 10px;
    margin: -50px auto 70px auto;
    font-size: 28px;

  }

  div.row {
    margin: 5px auto -80px auto;
  }

  #r8 {
    margin-left: 150px;
    margin-top: 30px;
  }

  #r9 {
    margin-right: 160px;
    margin-top: 30px;
  }

  #border1,
  #border2 {
    width: 35%;
  }

  footer {
    border: 25px darkseagreen;
    border-style: ridge none none none;
  }

}