@media screen and (min-width: 768px) {

  div.wrapper {
    max-width: 900px;
    border: ridge 25px darkseagreen;
    border-radius: 25px;
    margin-top: 0;
  }

  #portfolio {
    font-size: 45px;
    margin: auto auto 70px -140px;
  }


  div.row {
    margin: 5px auto -80px auto;
  }

  #r8 {
    margin: -20px -280px auto 280px;
  }

  #r9 {
    margin: -75px 160px auto -160px;
  }

  #border1,
  #border2 {
    width: 35%;
  }

  footer {
    border: 25px darkseagreen;
    border-style: ridge none none none;
  }

}