/* Media Query for large+ views */

@media screen and (min-width: 1188px) {

    .navigation a {
        font-size: 20px;
        padding: 20px;
    }

    #heroimg img{
        width: 64.5%;     
    }

    #grid-box{
        grid-template-areas:
        'box1 box3 box3 box2'
    }
    #box1{
        border: darkturquoise double 10px;
    }

    #box3{
        border-top: darkturquoise solid 10px;
        border-right:  darkturquoise solid 10px;
        border-left:  darkturquoise solid 7px;
        
    
    }

    #photo-grid-box{
        width: 98%;
        margin: auto;
        display: grid;
        grid-template-areas:
        'photo1 photo2 photo3 photo4 photo5 photo6';
    }

    #photo1 img,
    #photo2 img,
    #photo3 img,
    #photo4 img,
    #photo5 img,
    #photo6 img{
        border: dimgray solid 2px;
        width: 100%;
    }

    footer p {
        margin-top: -90px;
    }

}