/* Media Query for large+ views */

@media screen and (min-width: 1188px) {

    .navigation a {
        font-size: 20px;
        padding: 20px;
    }

    #heroimg img{
        width: 64.5%;     
    }

    #grid-box{
        grid-template-areas:
        'box1 box2 box3 box3'
    }
    #box3{
        border: darkturquoise solid 10px;
    }

    footer p {
        margin-top: -90px;
    }

}