/* Media Query for large+ views */

@media screen and (min-width: 1188px) {

    .navigation a {
        font-size: 20px;
        padding: 20px;
    }

    #heroimg img{
        width: 64.5%;     
    }

    #grid-box{
        grid-template-areas:
        'box1 box3 box3 box2'
    }
    #box1{
        border: darkturquoise double 10px;
    }

    #box3{
        border-top: darkturquoise solid 10px;
        border-right:  darkturquoise solid 10px;
        border-left:  darkturquoise solid 7px;
        
    
    }

    footer p {
        margin-top: -90px;
    }

}