@media screen and (min-width: 768px) {
    
    #logo {
        margin: -10px auto;
    }

    h1 {
        font-size: 75px;
        margin-top: -90px;
        margin-bottom: -20px;
    }

    #motto{
        margin-top: 20px;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 100%;
    }

    .navigation a {
        font-size: 18px;
        text-align: center;
        font-weight: unset;
        letter-spacing: unset;
        border-top: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }

    .navigation a:hover {
        color: turquoise;
        text-shadow: black 0 0 1px, black 0 0 2px, black 0 0 3px;
        background-color: rgb(252, 200, 122);
        box-shadow: darkturquoise 0px 0px 50px;
        transition: 1s;
    }

    .navigation li:first-child {
        display: none;
    }

    #heroimg img{
        display: block;
        width: 63.5%;
        margin: 50px auto 0 auto;
        border: rgb(255, 187, 0) solid 10px;      
    }
    
    #grid-box{
        margin-top: 0;
        width: 65.85%;
        display: grid;
        grid-template-areas:
        'box1 box2'
        'box3 box3';
    }

    #box2{
        border: darkturquoise solid 10px;
    }
    
    #box3{ 
        border: darkturquoise double 10px;  
    }

    #photo-grid-box{
        width: 65.5%;
        margin: auto;
        display: grid;
        grid-template-areas:
        'photo1 photo2 photo3'
        'photo4 photo5 photo6';
    }

    #photo1 img,
    #photo2 img,
    #photo3 img,
    #photo4 img,
    #photo5 img,
    #photo6 img{
        border: dimgray solid 2px;
        width: 100%;
    }

    #photo4 img,
    #photo5 img,
    #photo6 img{
        border-top: none;
    }

    #just-map img{
        display: none;
    }

    #just-map-contact img{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 94%;
        box-shadow: darkturquoise 0 0 50px;
    }
    
    #home-map img{
        display: block;
        width: 100%;
        margin: auto;
    }

    #foot1,
    #foot2,
    #foot3{
      max-width: 100%;
      margin: 20px;
    }

    #foot1{
        grid-area: foot1;
    }

    #foot2{
        grid-area: foot2;
    }

    #foot3{
        grid-area: foot3;
    }

    #contact-box{
        width: 87%;
        display: grid;
        margin: auto 50px;
        grid-template-areas: 
        'foot1 foot2'
        'foot3 foot3';
    }
      
}