/* Media Query for medium+ views */

@media screen and (min-width: 768px) {
   
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 100%;
    }

    .navigation a {
        font-size: 22px;
        text-align: center;
        font-weight: unset;
        letter-spacing: unset;
        border-top: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }

    .navigation a:hover {
        color: navajowhite;
        text-shadow:black 0 0 1px, black 0 0 2px, black 0 0 3px;
        background-color: rgb(3, 216, 216);
        box-shadow: white 0px 0px 25px;
        transition: 1s;
    }

    .navigation li:first-child {
        display: none;
    }
    .sitebox{
        border-radius: 20px;
    }

    main{
        max-width: 690px;
        margin: auto;
    }
    #beige{
        border-radius: 20px;
    }
    
    .grid{
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr;
       gap: 25px;
       margin:auto;
       margin-top: 50px;
     
       
    }
    #site-footer{
        margin-top: -50px;
    }
}