body {
    /*The following image was obtained legally from Unsplash.com, by Mink Mingle*/
    background: url("https://janettekaymak.github.io/lesson13/images/mink-final.jpg");
}

#icon {
    display: block;
    margin: -5px auto -45px auto;
}

h1 {
    font-family: 'Fontdiner Swanky', cursive, fantasy;
    font-size: 45px;
    text-align: center;
    color: navajowhite;
    text-shadow: black 0 0 1px, black 0 0 2px, black 0 0 3px,
        black 0 0 4px, black 0 0 5px, black 0 0 6px, black 0 0 7px,
        black 0 0 8px, black 0 0 9px, black 0 0 10px;
}

#motto {
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive, fantasy;
    margin-bottom: 40px;
    margin-top: -20px;
    padding: 0 15px;
}

nav {
    margin: 0 auto;
    background-color: navajowhite;
    margin-top: -21px;
}

.navigation {
    list-style: none;
    padding: 0;
    font-family: 'Fontdiner Swanky', 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
}

.navigation li:first-child {
    display: block;
    height: 45px;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin-top: -10px;
}

#menu {
    margin-top: 2px;
    margin-left: 17px;

}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    font-weight: lighter;
    color: black;
    letter-spacing: .1em;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.active {
    background-color: rgb(252, 200, 122);
}

.ham a {
    text-align: left;
}

/* the onclick JS toggles the .reponsive class from display none 
(.navigation li) to display block because the responsive class is 
added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
    display: block;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#heroimg img {
    width: 100%;
    margin-top: -19px;
}

#grid-box {
    width: 100%;
    margin: -5px auto 0 auto;
    display: grid;
    grid-template-areas:
        'box1'
        'box2'
        'box3';
}

.forecast {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    padding: 0 30px;
    text-align: center;
}

#box2 {
    grid-area: box2;
    background-color: rgb(0, 206, 209, .7);
    border: rgb(255, 187, 0) double 10px;

}

#box1 {
    grid-area: box1;
    background-color: rgb(255, 222, 173, .8);
    border: darkturquoise solid 10px;
}

#box3 {
    grid-area: box3;
    background-color: rgb(255, 255, 255, .7);
    border: darkturquoise solid 10px;
    padding: 0 20px;
}

#box2 h3,
#box1 h3,
#box1 h4,
#box2 h4 {
    font-family: "Fontdiner Swanky", cursive, fantasy;
    text-align: center;
    font-size: 91%;
}

#box3 h3 {
    font-family: "Fontdiner Swanky", cursive, fantasy;
    text-align: center;
    font-size: 22px;
}

#box2 h2,
#box1 h2 {
    font-family: "Fontdiner Swanky", cursive, fantasy;
    text-align: center;
    font-size: 19px;
    margin-top: 4px;
}

#box3 p {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    text-align: justify;
}

.today {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bolder;
}

#icon1,
#icon5 {
    width: 120px;
    margin-left: 4px;
    margin-bottom: -30px;
}

.hidden {
    display: none;
}

.fontdiner {
    font-family: 'Fontdiner Swanky', fantasy, cursive;
    font-size: 20px;
    color: darkturquoise;
    text-shadow: black 0 0 1px, black 0 0 2px, black 0 0 3px, black 0 0 4px, black 0 0 5px;
}

.fontdiner:hover {
    color: red;
    transition: .5s;
}

a {
    text-decoration: none;
}

/*The following photos were obtained 
from commercial websites that sell the vehicles. 
I am claiming the fair use act because I'm not going
to publish this website. If I were going to publish this 
website for a real company, the company would provide 
their own photos*/
#photo1 img {
    grid-area: photo1;
    border: dimgray solid 2px;
    width: 90%;
    display: block;
    margin: auto;
}

#photo2 img {
    grid-area: photo2;
    border: dimgray solid 2px;
    border-top: none;
    width: 90%;
    display: block;
    margin: auto;
}

#photo3 img {
    grid-area: photo3;
    border: dimgray solid 2px;
    border-top: none;
    width: 90%;
    display: block;
    margin: auto;
}

#photo4 img {
    grid-area: photo4;
    border: dimgray solid 2px;
    border-top: none;
    width: 90%;
    display: block;
    margin: auto;
}

#photo5 img {
    grid-area: photo5;
    border: dimgray solid 2px;
    border-top: none;
    width: 90%;
    display: block;
    margin: auto;
}

#photo6 img {
    grid-area: photo6;
    border: dimgray solid 2px;
    border-top: none;
    width: 90%;
    display: block;
    margin: auto;
}

.img-flex {
    display: flex;
    max-width: 100%;
}

footer p {
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    color: navajowhite;
    text-align: center;
    margin-top: -70px;
}

footer p a {
    text-decoration: none;
    color: navajowhite;
}

footer a:hover {
    color: cyan;
    font-size: 17px;
}

footer {
    margin-top: -5px;
}


/*Rentals Page-----------------------------------------*/
#body-rentals {
    /*The following image was obtained legally from Unsplash.com, by Mink Mingle*/
    background: url("https://janettekaymak.github.io/lesson13/images/beach.jpg");
}