html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
.mink-mingle{
    /*The following image was obtained legally from Unsplash.com*/
    background: url(images/mink-mingle-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    max-width: 1280px;
}



#gold-circle {
    background-color: gold;
    width: 155px;
    height: 150px;
    display: block;
    position: relative;
    margin: 10px auto -50px auto;
    border-radius: 150px;
}

#jetski {
    display: block;
    position: absolute;
    margin-top: 20px;
}

h1 {
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 75px;
    text-align: center;
    color: navajowhite;
    text-shadow: black 0 0 1px, black 0 0 2px, black 0 0 3px, black 0 0 4px, black 0 0 5px, black 0 0 6px, black 0 0 7px, black 0 0 8px, black 0 0 9px, black 0 0 10px;
}

h2 {
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 45px;
    text-align: center;
    line-height: 1em;
}

nav {
    margin: 0 -60px 0 0;
    background-color: navajowhite;
    margin-top: -21px;
}

.navigation {
    list-style: none;
    padding: 0;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.navigation li:first-child {
    display: block;
    height: 45px;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin-top: -10px;
}

#menU {
    margin-top: 2px;
    margin-left: 17px;

}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    font-weight: lighter;
    color: black;
    letter-spacing: .1em;
}

.active {
    background-color: rgb(3, 216, 216);
}

.ham a {
    text-align: left;
}

.responsive li {
    display: block;
}
main{
    max-width: 415px;
    margin: auto;
}

#beige {
    background-color: navajowhite;
    max-width: 550px;
    margin: 60px auto;
    padding: 20px 50px;
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-size: 16.5px;
    line-height: 1.5em;
    text-align: left;

}

.sitebox {
    margin: auto;
    background-color: navajowhite;
    width: 335px;
    padding: 20px;
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-size: 16.5px;
    line-height: 1.5em;
    text-align: left;

}

.sitebox p {
    margin-top: -20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

}

.colorbox {
    max-width: 85px;
    height: 165px;
    font-size: 14px;
    text-align: center;
}

#gold {
    background-color: gold;
    border: black solid 1px;

}

#almond {
    background-color: navajowhite;
    border: black solid 1px;

}

#black {
    background-color: black;
    border: black solid 1px;
    color: white;

}

#turquoise {
    background-color: turquoise;
    border: black solid 1px;

}

#color {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#font {
    text-align: center;
}

#smaller-head {
    font-size: 70px;
}

h3 {
    font-family: 'Fontdiner Swanky', cursive;
}
.photobox-table{
    display: flex;
    flex-direction: column;
}
.photobox{
    margin: 50px auto -20px 3%;
    max-width: 100%;
    overflow: auto;
    white-space: nowrap;
}
.photobox img{
    width: 360px;
    height: 438px;
    margin: 0 20px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 1.25;
}

table {
    max-width: 100%;
    margin: 50px -3% 50px 8%;
    box-shadow: black 0 0 20px;
    opacity: .85;
}

thead tr {
    background-color: rgb(3, 216, 216);
    color: navajowhite;
    text-shadow: black 0 0 1px, black 0 0 2px, black 0 0 3px, black 0 0 4px, black 0 0 5px, black 0 0 6px;
}

tbody tr th {
    background-color: navajowhite;
}

tr {
    background-color: navajowhite;
}

tr:nth-child(odd) {
    background-color: rgb(3, 216, 216);
}

tr th {
    font-size: 16px;
    line-height: 1;
}

thead tr th {
    font-size: 35px;
    line-height: 1;
}

th {
    font-weight: bolder;
}

button {
    margin: 0 10% 0 25%;
    background-color: rgb(3, 216, 216);
    padding: 20px;
    border-radius: 10px;
    max-width: 290px;
}

button a {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    margin-top: -195px;
}

footer p {
    text-align: center;
    font-family: 'Poppins';
    font-size: 20px;
    margin-top: -95px;
    color: navajowhite;
}

#site-footer {
    margin-top: -40px;
}

footer a:link,
footer a:visited {
    text-decoration: none;
    color: navajowhite;
}

#rental-footer {
    margin-top: 60px;
}